// The root DOM element
#app {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-content: space-between;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

// See https://vuetifyjs.com/en/styles/colors/#sass-color-pack
$color-pack: false;
@import "~vuetify/src/styles/main.sass";
