// [BEM](https://en.bem.info/methodology/quick-start/)

.table__header-text_font_thin {
  font-weight: 100;
}

.table__header-text_font_normal {
  font-weight: 400;
}

.table__header-text_font_bold {
  font-weight: 700;
}

.table__header-text_font_black {
  font-weight: 900;
}
